{{!-- <form>
<h1>{{procedure.title}}</h1>
<span>{{procedure.provider}}</span>
<p>{{procedure.review}}</p>
<a href="/procedure-detail">Return</a>
</form>

<h1>Edit Existing procedures</h1>
<form action="/procedure-edit/{{procedure._id}}" method="post">
  <label for="">Procedure:</label>
  <input type="text" name="title" value="{{procedure.title}}"">

  <label for="">Provider:</label>
  <input type="text" name="provider" value="{{procedure.provider}}"">

  <label for="">Review:</label>
  <input type="string" name="review" value="{{procedure.review}}"">

  <button type="submit">EDIT</button>
</form> --}}

