<h1>{{procedure.title}}</h1>
<span>{{procedure.provider}}</span>
<p>{{procedure.review}}</p>
<a href="/procedures">Return</a>


<a href="/procedure-add">Add Procedure</a>
<a href="/procedure-edit/{{procedure._id}}">Update Procedure</a>
<form action="/procedures/{{procedure._id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>